*.dylib
*.exe
*.out
*.prof
*.so
*.swp
*.tar.gz
*.test
*~
.DS_Store

# VSCode --
## Dont track user settings but allow project wide settings
.vscode
!.vscode/settings.json
!.vscode/launch.json-template
## Ignore go debug builds
__debug_bin**

## Ignore AcciPing dev files:
*dev.pings
*.log
*.logs

## Ignore Build Files:
out/
# signing key
acci-ping-rsa4096.pem

# Rapid test data
**/testdata/rapid/

# Test outputs which are not GOLDEN's
*.actual
*.no-commit-actual